BODY {
    font-family: 'Roboto', Arial; 
    margin-top : 45;
    margin-bottom : 5;
    margin-left : 0;
    margin-right : 0;
    
    
    background-color : #ffffff;
    color : #000000;
    background-position: center; 
    background-image: url(../images/teraset_tietokonekauppa_taustakuva.jpg);
     background-attachment: fixed; 
     background-repeat: no-repeat;
     background-size: cover;  
    }

    .wholecontent {
        max-width: 1200px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background: white;
        padding: 0px;
    }
    
    .icon-background {
        color: #4fb0c5;
    }
    
    .mySlides {
        display: none;
    }

    .slideshow-container {
      max-width: 645px; 
      position: relative;
      margin: auto;
    }

    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 9px;
      margin-top: -22px;
      color: #46adcc;
      font-weight: bold;
      font-size: 24px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
    }

    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }

    .dot {
      height: 15px;
      width: 15px;
      margin: 0 5px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      cursor:pointer;
    }
    
    .active {
      background-color: #06456e;
    }

    .bothsides_topnav {
      overflow: hidden;
      background-color: #06456e;
      position: fixed;
      left: 0px;
      top: 0px;
      width:100%;
        
    }
        
    .bothsides_topnav a {
      float: left;
      display: block;
      color: gray;
      padding: 17px 16px;
      text-decoration: none;
      font-size: 9px;
      margin-top: 6px;
    }
    
    .bothsides_topnav a:hover {
      background-color: #0098d6;
      text-decoration: none;
      color: white;
    }
    
    div.terasetlogo-container-osio-2 {

        padding-top:23;
        padding-bottom:15;

        width:510;
     
        float:right;
        height : auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 800;
        line-height: 220%;
        color: #07476e;
        cursor: default;
    }
    
    
    div.terasetlogo-container-osio-2-left {
        float: right;
        padding-left:3;
        padding-right:20;

    }
    
    div.terasetlogo-container-osio-2-right {
        float: right;
        text-align: left; 

        padding-left:3;
        padding-right:20;	
    }
    
    div.terasetlogo-container-osio-2-right-row-1-adjust {
        float:left;
        margin-left:2;
        margin-right:2;
        margin-top:6;
    }
    
    
    div.terasetlogo-container {
        padding-top: 0;
        background-color: FFF;
        width: 100%;
    
    }

      
    div.terasetlogo-container:after {
        content: "";
        display: table;
        clear: both;
    }

    
    div.terasetlogo-container-osio-1 {
        float: left;
        padding-left:25;
        padding-top:17;
        padding-bottom:16;
        padding-right:0;
        /*background-color: green;*/
    }
    
    
    
    div.banner-bottom-margin {
        margin-bottom: 7;
    }
    
    
    div.green-info-container {
        background-color: #248250;
        margin-top: 7;
        margin-bottom: 7;
        padding: 17;
        width: 100%;
        height: auto;
        font-size: 14;
        line-height: 150%;
        color: white;
        cursor: default;
    }
    
    div.add-special-badge-to-pic {
        position: relative;
    }
    
    
    div.newbadge {
        position: absolute;	
    }
        
    
    div.cardshadow {
        width: 100%;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.13);
        text-align: center;
    }
    
    
    div.twitter-container {

        float:left;
        margin-bottom:7;
        width:100%;
 
    }
    
    div.twitter-follow {

        text-align: center;
        margin-top:3;
        margin-bottom:7; 

    }
    
    div.henkilosto-1-titteli {

    font-size : 14px;
    color : #FFF;
    padding-bottom:5px;
    border-bottom: 5px solid #46ADCC;
    border-bottom-width: 5px;
    }
    
    
    
    div.henkilosto-1-nimirivi {

    font-size : 18px;
    font-weight:600;
    margin-top: 40px;
    color : #FFF;
    }
    
    div.henkilosto-1-puhelin {
    font-size : 14px;
    text-align: center;
    margin-top: 15px;
    color : #FFF;
    }
    
    div.henkilosto-1-sahkoposti {
    font-size : 14px;
    text-align: center;
    margin-bottom: 20px;
    color : #FFF;
    }
    
    
    div.henkilosto-1 {
      background-color: #034672;
      background-image: url(../images/henkilosto_pohja200.png);
      background-repeat: no-repeat;
    
      line-height:24px;
      width: 25%;
      min-height: 235px;
      float: left;
      padding: 10px;
      font-family: 'Montserrat', Arial;
      font-weight:300;
      font-size: 14px;
      text-align: center;
      color:white;
      border: 5px solid white;
      margin-top: 2px;
    }
    
    div.henkilosto-alatila {
      margin-bottom: 20px;
    }
    
    div.henkilosto-1::after {
      content: "";
      clear: both;
      display: table;
    }

    * {box-sizing:border-box}
    
    
    .topnav {
        z-index: 100;
        overflow: hidden;
        background-color: #06456e;
        position: fixed;
        top: 0px;
        width: 90%;
        max-width: 1200px;

    }
     
    .topnav a {
      float: left;
      display: block;
      color: white;
      transition: all 0.3s ease;
      text-align: center;
      padding: 15px 9px;
      height:45;
      text-decoration: none;
      font-size: 14px;
    }
    
    .topnav a.active {
      background-color: #46adcc;
      color: #fff; 
    }
    
    .topnav a:hover {
      background-color: #46adcc; 
      text-decoration: none;
      color: white;
    }
    
    .topnav .shoppingcart-container {
      float: right;
    }
    
    
    .topnav .search-container {
      float: right;
      margin-top:10;
      height:25;
    }
    
    
    .topnav input[type=text] {
      padding: 5px;
      font-size: 12px;
      border: 1px solid white;
      background-color: #06456e;
      color:white;
      margin-right: 10px;
      
    }
    
    
    .topnav .search-container button {
      float: left;
      padding: 0px 4px;
      margin-top: 2px;
      margin-right: 1px;
      background: #06456e;
      /*background: red;*/
      font-size: 16px;
      border: none;
      cursor: pointer;
      color:white;
    }
    
    .topnav ::placeholder { 
        color: #ddd;
        opacity: 1; 
    }
    
    .topnav .search-container button:hover {
      background: #06456e;
    }
   
    
    IMG {
        border : 0px;
        max-width: 100%;
    }
    
    hr.liuku {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
    }
    
    
    H1 {

    font-size : 100%;
    font-weight : bold;
    color : #000000;
    }
    
    H2 {

    font-size : 80%;
    font-weight : bold;
    color : #000000;
    }
    
    H3 {

    font-size : 14px;
    font-weight : bold;
    color : #000000;

    text-align:left;
    }
    
    P, LI {

    font-size : 100%;
    line-height : 140%;
    }
    
    P.smallbasic {

    font-size : 80%;
    } 
    
    P.smallbasic2 {

    font-size : 80%;
    } 
    
    
    FONT.smallbasic {

    font-size : 70%;
    }
    
    FONT.smallbasic2 {

    font-size : 80%;
    }
    
    FONT.smallbasic3 {

    font-size : 10px;
    color : #333333;
    }
    
    FONT.smallbasic4 {

    font-size : 12px;
    color : #000000;
    }
    
    FONT.smallbasic4A {
    font-family: 'Roboto', Arial;
    font-size : 14px;
    line-height: 150%;
    color:black;
    }
    
    
    FONT.smallbasic4AB {
    font-family: 'Roboto', Arial;
    font-size : 16px;
    line-height: 150%;
    color:black;
    }
    
    FONT.smallbasic4ABW {
    font-family: 'Montserrat', Arial;
    font-weight:600;
    font-size: 16px;
    text-align: center;
    color:white;
    }
    
    
    FONT.smallbasic4A2 {
    font-family: 'Roboto', Arial;
    font-weight: 300;
    font-size : 14px;
    color:black;
    }
    
    FONT.smallbasic4A3 {
    font-family: 'Roboto', Arial;
    font-weight: 400;
    font-size : 14px;
    }
    
    
    FONT.smallbasic4A4 {
    font-family: 'Roboto', Arial;
    font-weight: 400;
    font-size : 10px;
    }
    
    FONT.smallbasic4A5 {
    font-family: 'Roboto', Arial;
    font-weight: 400;
    font-size : 13px;
    }
    
    FONT.smallbasic4A6 {
    font-family: 'Montserrat', Arial;
    font-weight: 900;
    font-size : 18px;
    }
    
    
    
    
    FONT.smallbasic4B {
    font-family: 'Roboto', Arial;
    font-size : 14px;
    font-weight: 500;
    line-height: 140%;
    }
    
    FONT.smallbasic4C {
    font-family: 'Roboto', Arial;
    font-size : 15px;
    font-weight: 500;
    line-height: 100%;
    }
    
    
    
    FONT.smallbasic5 {
    font-size : 14px;
    color : #000000;
    }
    
    FONT.smallbasic6 {
    font-size : 14px; 
    color : #000; 
    }
    
    FONT.smallbasic6B {
    font-size : 15px; 
    color : #000; 
    }
    
    FONT.smallbasic6C {
    font-size : 16px; 
    color : #000; 
    }
    
    FONT.smallbasic6Dfooter {
    font-family: 'Roboto', Arial;
    font-size : 15px; 
    color : #FFF; 
    font-weight: 500;
    line-height: 2.5;
    }
    
    FONT.smallbasic6D-tk-footer {
    font-family: 'Roboto', Arial;
    font-size : 15px; 
    color : #FFF; 
    font-weight: 500;
    line-height: 1.3;
    }
    
    
    FONT.smallbasic6D2footer {
    font-family: 'Roboto', Arial;
    font-size : 15px; 
    color : #FFF; 
    font-weight: 300;
    line-height: 1.6;
    }
    
    FONT.smallbasic6D3footer {
    font-family: 'Roboto', Arial;
    font-size : 12px; 
    color : #FFF; 
    font-weight: 300;
    line-height: 1.6;
    }
    
    FONT.smallbasic6D4footer {
    font-family: 'Roboto', Arial;
    font-size : 20px; 
    color : #FFF; 
    }
    
    
    FONT.smallbasic6E {

    font-size : 20px; 
    color : #000; 
    }
    
    FONT.smallbasic6quote {

    font-family: georgia, serif;

    font-size : 15px; 
    color : #000; 
    }
    
    
    
    FONT.smallbasic7 {
    font-size : 14px; 
    color : #FFFFFF; 
    padding-top:15px;

    }
    
    FONT.smallbasic8 {

    font-size : 16px; 
    color : #007ba4; 
    }
    
    FONT.smallbasic9 {
    font-size : 3px; 
    }

    
    .resize200 {
        max-width: 200px;
        max-height : 200px;
        }
    
    
    .resize170 {
        max-width: 170px;
        max-height : 170px;
        }
    
    .resize155 {
        max-width: 155px;
        max-height : 155px;
        }
    
    
    .resize140 {
        max-width: 140px;
        max-height : 140px;
        }
    
    .resize100 {
        max-width: 100px;
        max-height : 100px;
        }
        
        
    
    .resize50 {
        max-width: 50px;
        max-height : 50px;
        }
    
    
        
    .resize30 {
        width: 30px;
        height : auto;
    }
    
    .resize30 {
        width: auto;
        height : 30px;
        }
        
    
        
        
    
    P.smallnote {
    font-size : 70%;
    color : #7a7a7a;
    display : inline;
    }
    
    P.smallfade {
    font-size : 80%;
    color : #000;
    }
    
    
    FONT.search_match {
    color : #202020;
    }
    
    
    A {

    color : #00567E; 
    text-decoration : none;
    }
    
    A:hover, A:focus {
    text-decoration : none; 
    }
    
    
    
    A.some {

    color : #FFF;  
    transition: all 0.2s linear;
    }
    A.some:hover, A.some:focus {
    color: #a0b405;
    }
    
    A.tuotelistaus {
    color : #FFF;
    transition: all 0.2s linear;
    }
    A.tuotelistaus:hover {
    color : yellow;
    text-decoration:underline;
    }
    
    A.tuotelistaus:focus {
    color: #a0b405;
    }
    
    
    A.sivujenlinkit {
    color : #000;
    transition: all 0.2s linear;
    }
    A.sivujenlinkit:hover {
    /*font-size:22;*/
    text-decoration:underline;
    }
    
    
    A.product_catalog {
    color: #000;
    font-size:15;
    transition: all 0.2s linear;
    }
    A.product_catalog:hover, A.product_catalog:focus {
    /*font-size:18;*/
    text-decoration:underline;
    }
    
    
    A.product_catalog_productcard {
    color: #00476f;
    }
    A.product_catalog_productcard:hover, A.product_catalog_productcard:focus {
    text-decoration:underline;
    }
    
    A.product_catalog_link {
    color: #00476f;
    }
    A.product_catalog_link:hover, A.product_catalog_link:focus {
    text-decoration:underline;
    }
    
    A.product_details_productcard {
    color: #00476f;
    }
    A.product_details_productcard:hover, A.product_catalog_productcard:focus {
    text-decoration:underline;
    }


A.henkilosto-1-puhelin {
    color: #FFF;
    transition: all 0.2s linear;
    }
    A.henkilosto-1-puhelin:hover, A.henkilosto-1-puhelin:focus {
    color: #a0b405;
    }	
    
    A.henkilosto-1-sahkoposti {
    color: #FFF;
    transition: all 0.2s linear;
    }
    A.henkilosto-1-sahkoposti:hover, A.henkilosto-1-sahkoposti:focus {
    color: #a0b405;
    }	
    
    
    
    A.footer {
    color: #FFF;
    transition: all 0.2s linear;
    }
    A.footer:hover, A.footer:focus {
    color: #a0b405;
    }
    
    A.header {
    color: #07476e;
    transition: all 0.2s linear;
    }
    A.header:hover, A.header:focus {
    color: #a0b405;
    }
    
    
    
    
    INPUT, TEXTAREA, SELECT {
    font-size : 100%;
    }
    
    input.haku {
        background: none; border: 0px solid #000000;
    
        }
        
        
    input.hakupalaute {
        background: none; border: 0px solid red; 
    
        }
    
    
    INPUT.button2 {
    border-top : 0px solid #ffffff;
    border-bottom : 0px solid #ffffff;
    border-left : 0px solid #ffffff;
    border-right : 0px solid;
    width : 57px;
    height : 18px;
    font-size : 70%;
    color : #ffffff;
    background-image: url(images/napit_laheta.jpg);
    }
    
    
    INPUT.button3 {
    border-top : 0px solid #ffffff;
    border-bottom : 0px solid #ffffff;
    border-left : 0px solid #ffffff;
    border-right : 0px solid #ffffff;
    padding-bottom : 0px;
    width : 71px;
    height : 31px;
    font-size : 11px;
    color : #000000;
    background-image: url(images/napit_koriin.jpg);
    }
    
    
    
    INPUT.field {
    border-top : 1px solid #007ba4;
    border-bottom : 1px solid #007ba4;
    border-left : 1px solid #007ba4;
    border-right : 1px solid #007ba4;
    font-size : 70%;
    background : #ffffff;
    color : #000000;
    }
    
    
    FORM.inline {
    display : inline;
    } 
    
    
    .retrieve-password-container {
        background-color: #cddee5; 
        width:100%;
        text-align:left;
        padding:12;
        padding-bottom:40;
    }
        
    
    .retrieve-password-container input[type=text] {

        padding: 8px;

          margin-bottom: 10px;
          font-size: 12px;
          border: none;
          width:250;

          color:black; 
    }
    
    .retrieve-password-container input[type=submit] {
        float: left;
        background-color: #248250;
        color: white;
        padding: 7px 15px 6px 15px;
        font-family: 'Montserrat', Arial;
        font-weight:800;
        font-size: 14px;
        border: none;
        cursor: pointer;	
    }
    
    
    .registration-container {
     background-color: #cddee5; 
     width:100%;
     text-align:left;
     padding:12;

    }
    
    
    .feedbackrma-input-container input[type=text] {
        width: 100%;
        padding: 8px;
        border: none;
           font-size: 13px;
        resize: vertical;
    }
    
    
    .feedbackrma-input-container input[type=password] {
        width: 100%;
        padding: 8px;
        border: none;
           font-size: 12px;
        resize: vertical;
    }
    
    .feedbackrma-input-container input[type=checkbox] {
        margin-top: 5px;
           font-size: 12px;
    }
    
    .feedbackrma-input-container label {
        padding: 12px 6px 12px 0;
        display: inline-block;
    }
    
    .feedbackrma-input-container-otsikko {
        font-size : 14px;
        font-weight: bold;
        color: black;
        margin-right:7px;
    }
    
    .feedbackrma-input-container input[type=submit] {
        float: left;    
        background-color: #248250;
        color: white;
        padding: 7px 15px 6px 15px;
        font-family: 'Montserrat', Arial;
        font-weight:800;
        font-size: 14px;
        border: none;
        cursor: pointer;
        margin-left: 250px;
    }
    
    
    
    .feedbackrma-input-container {
        background-color: #cddee5;
         width:100%;
         text-align:right;
         padding:12;
    }
    
    .feedbackrma-input-container select {
        width: 100%;
        padding: 8px;
        border: none;
           font-size: 12px;
        resize: vertical;
        margin-bottom: 5px;
    }
    
    .feedbackrma-input-container textarea {
        width: 500;
        padding: 8px;
        border: none;
           font-size: 13px;
        resize: vertical;
    }
    
    .kanta-asiakastiedot-container input[type=text], select, textarea {
        width: 100%;
        padding: 8px;
        border: none;
           font-size: 12px;
        resize: vertical;
    }
    
    .kanta-asiakastiedot-container input[type=password] {
        width: 100%;
        padding: 8px;
        border: none;
           font-size: 12px;
        resize: vertical;
    }
    
    .kanta-asiakastiedot-container input[type=checkbox] {
        margin-top: 7px;
           font-size: 12px;
    }
    
    .kanta-asiakastiedot-container label {
        padding: 12px 6px 12px 0;
        display: inline-block;
    }
    
    .kanta-asiakastiedot-container-otsikko {
        font-size : 14px;
        font-weight: bold;
        color: black;
        margin-right:7px;
    }
    
    .kanta-asiakastiedot-container input[type=submit] {
        float: left;      
        background-color: #248250;
        color: white;
        padding: 7px 15px 6px 15px;
        font-family: 'Montserrat', Arial;
        font-weight:800;
        font-size: 14px;
        border: none;
        cursor: pointer;
        margin-top: 8px;
        margin-left: 180px;
        margin-bottom: 10px;
    }
    
    .kanta-asiakastiedot-container button {
        float: left;
        background-color: #248250;
        color: white;
        padding: 7px 15px 6px 15px;
        font-family: 'Montserrat', Arial;
        font-weight:800;
        font-size: 14px;
        border: none;
        cursor: pointer;
        margin-top: 8px;
        margin-left: 180px;
        margin-bottom: 5px;
    
        
    }

    .kanta-asiakastiedot-container {
        border-radius: 5px;
        padding: 0px;
        text-align: right;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 0px;
    }
    
    
    .col-25-250 {
        float: left;
        width: 250;
        margin-top: 0px;
    }
    
    
    .col-25A {
        float: left;
        text-align:left;
        width: 330;
        margin-top: 7px;
    }
    
    .col-25B {
        float: left;
        text-align:left;
        width: 330;
        margin-top: 12px;
    }
    
    
    .col-75 {
        float: left;
        width: 70%;
        margin-top: 7px;
    }
    
    
    
    .col-75A {
        float: left;
        width: 380;
    }
    
    .col-75B {
        float: left;
        width: 75%;
        margin-top: 7px;
        text-align:left;
    }
    
    .col-75C {
        float: left;
        width: 480;
        margin-top: 7px;
        text-align:left;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    
    
    .shoppingcart-info-container input[type=number] {
        float:left;
        padding: 8px 0px 8px 8px;

          font-size: 15px;
          border:1px solid #CDDEE5;

          color:black; 
    }
    
    .shoppingcart-info-container input[type=submit] {
        background-color: #248250;
        color: white;
        padding: 3px 10px 3px 10px;
        font-family: 'Montserrat', Arial;
        font-weight:800;
        font-size: 13px;
        border: none;
        cursor: pointer;
           margin-bottom: 2px;
    }
    
    .shoppingcart-info-container select {
        width: 200;
        padding: 8px;
        border: none;
           font-size: 14px;
           border:1px solid #CDDEE5;
        resize: vertical;
        margin-left: 5px;    
    }
    
    
    .toimitustavat-container {
     background-color: #FFF;
     width:100%;
     text-align:left;
     padding:12;
    }
    
    .maksutavat-container {
     background-color: #FFF;
     width:100%;
     text-align:left;
     padding:12;
    }
    
    .yritysinfo-container {
     background-color: #cddee5;
     width:100%;
     text-align:left;
     padding:12;
    }
    
    .activecampaigncode-container {
     background-color: #cddee5;
     width:100%;
     text-align:left;
     padding:12;
    }
    
    .activecampaigncode-container input[type=text] {
        
        width: 200;
        padding: 8px;
        border: none;
           font-size: 13px;
        resize: vertical;
        margin-left:10;
    }
    
    .activecampaigncode-container input[type=submit] {
        background-color: #248250;
        color: white;
        padding: 7px 15px 6px 15px;
        font-family: 'Montserrat', Arial;
        font-weight:800;
        font-size: 14px;
        border: none;
        cursor: pointer;
        margin-left: 5px;
    }
    
    
    .top10-info-container {
     background-color: #cddee5;
     width:100%;
     text-align:left;
     padding:12;
    }
    
    .top10-list-container-wrap-left {
     float:left;
     padding-top:15;
    }
    
    .top10-list-container-wrap-right {
     float:right;
     padding-top:15;
    }
    
    .top10-list-container {
     float:left;
     background-color: #F7F7F7;
     width:285;
     text-align:left;
     padding:5;
     border:2px solid #46adcc;
    }
    
    .top10-list-image {
     float:left;
     width:50;
     height:60;
     margin-top:3;
     margin-right:10;
     margin-bottom:5;
     /*background-color: yellow;*/
    }
    
    .contest-info-container {
        background-color: #cddee5;
         width:100%;
         text-align:left;
         padding:12;
         margin-bottom:8px;
    }
    
    .contest-info-container input[type=text] {
        width: 100%;
        padding: 8px;
        border: none;
           font-size: 13px;
        resize: vertical;
    }
    
    .contest-input-container {
        background-color: #cddee5;
         width:100%;
         text-align:right;
         padding:12;
    }
    
    .contest-input-container input[type=checkbox] {
        margin-top: 5px;
           font-size: 12px;
    }
    
    .contest-input-container label {
        padding: 12px 6px 12px 0;
        display: inline-block;
    }
    
    .contest-input-container input[type=submit] {
        background-color: #248250;
        color: white;
        padding: 7px 15px 6px 15px;
        font-family: 'Montserrat', Arial;
        font-weight:800;
        font-size: 14px;
        border: none;
        cursor: pointer;	
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .contest-input-container textarea {
        width: 340;
        padding: 8px;
        border: none;
           font-size: 13px;
        resize: vertical;
    }
    
    
    
    
    
    .kierratys-info-container {
     background-color: #cddee5;
     width:100%;
     text-align:left;
     padding:12;
     margin-bottom:15;
    }
    
    .huolto-info-container {
     background-color: FFF;
     width:100%;
     text-align:left;
     padding:12;
    }
    
    .laitevuokraus-info-container {
     background-color: #FFF;
     width:100%;
     text-align:left;
     padding:12;
    }
    
    .rekisteriseloste-info-container {
     background-color: #FFF;
     width:100%;
     text-align:left;
     padding:12;
    }
    
    .rekry-info-container {
     background-color: #cddee5;
     width:100%;
     text-align:left;
     padding:12;
    }
    
    .reseller-info-container {
     background-color: #cddee5;
     width:100%;
     text-align:left;
     padding:12;
    }
    
    .kuntoluokitukset-info-container {
     background-color: #FFF;
     width:100%;
     text-align:left;
     padding:12;
    }
    
    
    .contact-container {
     background-color: #FFF;
     width:100%;
     text-align:left;
     padding:12;
    }
    
    .takuuehdot-container {
     background-color: #FFF;
     width:100%;
     text-align:left;
     padding:12;
    }
    
    .terms_and_conditions-container {
     background-color: #FFF;
     width:100%;
     text-align:left;
     padding:12;
    }
    
    .feedbackrma-info-container {
     background-color: #cddee5;
     width:100%;
     text-align:left;
     padding:12;
     margin-bottom:8px;
    }
    
    .submitorder-info-container {
     background-color: #FFF;
     width:100%;
     text-align:left;
     padding:12;

    }
    
    .submitorder-info-container input[type=submit] {
        background-color: #248250;
        color: white;
        padding: 7px 15px 6px 15px;
        font-family: 'Montserrat', Arial;
        font-weight:800;
        font-size: 14px;
        border: none;
        cursor: pointer;	
        margin-bottom: 2px;	
    }
    
    .payment-info-container {
     background-color: #FFF;
     width:100%;
     text-align:left;
     padding:12;
     /*margin-bottom:8px;*/
    }
    
    .payment-info-container input[type=submit] {
        background-color: #248250;
        color: white;
        padding: 7px 15px 6px 15px;
        font-family: 'Montserrat', Arial;
        font-weight:800;
        font-size: 14px;
        border: none;
        cursor: pointer;	
        margin-bottom: 2px;	
    }
    
    
    
    .checkout-info-container {
     background-color: #FFF;
     width:100%;
     text-align:left;
     padding:12;
     /*margin-bottom:8px;*/
    }
    
    .checkout-info-container input[type=submit] {
        background-color: #248250;
        color: white;
        padding: 7px 15px 6px 15px;
        font-family: 'Montserrat', Arial;
        font-weight:800;
        font-size: 14px;
        border: none;
        cursor: pointer;	
        margin-bottom: 2px;
    }
    
    .checkout-info-container input[type=text] {
        width: 100%;
        padding: 8px;
        border:1px solid #CDDEE5;
           font-size: 13px;
        resize: vertical;
    }
    
    .checkout-info-container textarea {
        width: 100%;
        padding: 8px;
        border:1px solid #CDDEE5;
           font-size: 13px;
        resize: vertical;
    }
    


div.special-offer-container {
  
    background-image: url("images/tarjousbanneri_etusivu_tausta.png");
    background-repeat: no-repeat;
    height:288px;
    margin-bottom:7;
    /*float:left;*/
        
    }	
    
    
    
    
    .offercontainer-word-offer {
    float:left;
    padding-top:31;
    padding-left:27;
    width:340;
    position:relative;
    }
    
    .offercontainer-word-price {
    float:left;
    width:112;
    height:115;
    padding-top:61px;
    text-align:center;
    line-height:24px;
    position:absolute;
    margin-left:275;
    }
    
    .offercontainer-pic {
    float:right;
    margin-right:11;
    width:238;
    max-width:238;
    height:288;
    text-align: center;
    }
    
    
    .Centerer {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .Centered {
        display: inline-block;
        vertical-align: middle;
    }
    
    
    
    .offer-info-specs {
    margin-top:7;
    line-height:1.6;
    }
    
    
    .offercontainerfontA {
    font-family: 'Montserrat', sans-serif;
    font-size : 34px;
    font-weight: 900;
    color: #46adcc;
    }
    
    .offercontainerfontB {
    font-family: 'Montserrat', sans-serif;
    font-size : 35px;
    font-weight: 800;
    color: #FFF;
    }
    
    .offercontainerfontC1 {
    font-family: 'Montserrat', sans-serif;
    font-size : 16px;
    font-weight: 400;
    color: #FFF;
    }
    
    .offercontainerfontC2 {
    font-family: 'Montserrat', sans-serif;
    font-size : 20px;
    font-weight: 500;
    color: #FFF;
    }
    
    .offercontainerfontE {
    font-family: 'Montserrat', sans-serif;
    font-size : 13px;
    font-weight: 500;
    color: #46adcc;
    }
    
    .offercontainerfontF {
    font-family: 'Montserrat', sans-serif;
    font-size : 15px;
    font-weight: 500;
    color: #FFF;
    }

    .offercontainerfontD {
    font-family: 'Montserrat', sans-serif;
    font-size : 20px;
    font-weight: 800;
    color: #FFF;
    }
    
    
    
    div.maincontainer {
        float: left;
        padding-left: 0px;
        background-color: #FFF;
        width: 100%;
    }
    
    div.maincontainer-osio-1 {
        float: left;
        padding-top: 0px;
        padding-left: 5px;
        width: 22%;
    }
    
    div.maincontainer-osio-2 {
        float: left;
        width: 55%;
        padding-left: 15px;

    }
    
    div.maincontainer-osio-2-wide {
        float: left;
        width: 76%;
        padding-left: 10px;

    }
    
    div.maincontainer-osio-3 {
        float: left;
        width: 22%;
        padding-left: 10px;
    }
    
    
    
    div.info-container {
        float: left;

        margin-bottom: 7;
        padding-left: 15;
        padding-top: 25;
        padding-right: 10;
        width: 100%;
        height: auto;
        font-size: 12px;
        line-height: 100%;
        cursor: default;
        background-color: #cddee5;
        color: #06456e;
    }
    
    .info-container li {
        margin: 16px 0;
        line-height: 150%;
    }
    
    .info-container .fa-li {
        padding-left:12;
    }
    
    
    
    div.info-container-otsikko { 
    vertical-align : middle;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    font-size : 25px;
    font-weight: 900;
    color: #06456e;
    margin-bottom: 0.2em;
    } 

    
    div.footer-taytto {
        padding-bottom:500;
    }
    
    
    
    div.alafooter-container-whole {
        float:none;
        clear:left;
        background-color:#00476f;
        padding-bottom:10;
        
    }
    
    
    .alafooter-container {
        padding-top: 0;
        width: 100%;
        max-width: 1200px;
        background-image: url(/images/teraset_ikoni-footer.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        position: relative;
        top: 0;
        left: 0;
    }
    
      
    .alafooter-container:after {
        content: "";
        display: table;
        clear: both;
    }
      
        
    .alafooter-osio-1 {
        float: left;
        text-align: left;
        width: 30%;
        padding: 25;

    }
    
    .alafooter-osio-1A {
        float: left;
        text-align: left;
        width: 20%;
        padding-top: 25;
        padding-bottom: 25;

    }
    
    .alafooter-osio-2 {
        float: left;
        text-align: left;
        width: 50%;

        padding-left: 30;
        padding-top: 25;

        padding-right: 0;
    
    }
    
    
    
    .foot-os2-column {
        float: left;
        width: 50%;
    }
    
    
    
    

    .alafooter-osio-2:after {
        content: "";
        display: table;
        clear: both;
    }
    
    
    
    .alafooter-osio-3 {
        float: left;
        width: 485;  

    }
    
    img.footerkuvat {
        width: 100%;
        height: auto;
        padding-top: 10;
        padding-bottom: 5;
    }
    
    div.maksutavat {
        text-align: center;
        background: white;
    }
    
    img.maksutavat {
        max-width: 100%;
    }
    
    img.tuotekorttikuvat {
        padding: 10;
        width: 45%;
        height: auto;
    }
    
    
    img.mainosmies-zoom {
        width: 175;
        position: absolute;
        right:20;
        top:-261;
        
    }
    
    img.mainosmies-puhekupla {
        position: absolute;
        right:10;
        top:-461;
    }
    
    
    .puhekuplateksti {
        position: absolute;
        top: -452;
        right:0;
        padding-left:23;
        padding-right:28;
        padding-top:5;
        font-size: 13px;
        font-weight:400; 
        line-height: 150%;
        width:215;
        cursor: default;
    
    
    }
    
    
    .quote-hide {
      display: none;
    }
    .quote-box {
        text-align: center;
        padding-left:5;
        padding-right:5;
        min-height:295;
        
    }
    cite {
        font-size: 80%;
        color: #999;
    }

    TD.toplinks {
    padding : 5px;
    background-color : #f3f3f3;
    border-top : 1px solid #000000;
    border-bottom : 1px solid #000000;
    }
    
    TD.toplinks2 {
    padding : 5px;
    background-color : #eaeaea;
    border-top : 1px solid #c0c0c0;
    border-bottom : 1px solid #c0c0c0;
    }
    
    TD.toplinks3 {
    padding : 5px;
    border : 2px solid #ffffff;
    background-color : #eaeaea;
    
    }
    
    TD.toplinks4 {
    padding : 0px;
    border-top : 0px solid #ffffff;
    border-bottom : 0px solid #ffffff;
    border : 0px solid #ffffff;
    background-image: url(images/navipalkki_tausta.jpg);
    }
    
    TR.tuotelaatikkotausta {
    background-image: url(images/tuotelaatikot_tausta.jpg);

    }
    
    
    TD.topbreadcrumb {
    padding : 5px;
    }
    
    P.topbreadcrumb {

    font-size : 70%;
    color : #000000;
    }
    
    A.topbreadcrumb {
    text-decoration : none;
    color : #3B5BC5;
    text-decoration : none; 
    }

    
    TD.navigation {
    padding : 25px;
    border-right : 0px dashed #c0c0c0;
    
    }
    
    TD.navigation0 {
    padding-left : 10px;
    padding-top : 5px;
    border-right : 0px dashed #c0c0c0;
    
    }
    
    TD.navigation2 {
    padding-right : 10px;
    padding-top : 0px;
    
    }
    
    TD.navigation3 {
    padding : 15px;
    border-bottom : 2px double #c1caf0;
    border-left : 0px dashed #c1caf0;
    border-right : 0px dashed #c1caf0;
    
    }
    
    TD.navigation4 {
    padding : 25px;
    border-left : 0px dashed #c1caf0;
    border-right : 0px dashed #c1caf0;
    border-top : 0px dashed #c1caf0;
    
    }
    
    TD.navigation5 {
    padding : 25px;
    border-left : 0px dashed #c1caf0;
    border-right : 0px dashed #c1caf0;
    border-top : 0px dashed #c1caf0;
    border-bottom : 0px dashed #c1caf0;
    
    }
    
    
    TD.nav_open { 
    padding-left : 6px;
    border-right : 0px solid #eaeaea;

    background-color: #FFF;
    } 

    TD.nav_open:hover {
    background-color: #eee;
    }
    P.nav_open { 
    font-size : 13px; 
    color : #007ba4; 
    } 
     
     
     
    A.nav_open { 
 
    color: #000;  

    text-decoration : none;
    padding-left : 4px;
    } 
     
    
    a.nav_open:hover {
    text-decoration:underline;
    } 
    
    
    a.nav_closed:hover {
    text-decoration:underline;
    } 
    
    
    
    TD.nav_closed { 
    padding-left : 6px;
    border-right : 0px solid #46adcc;
    border-left : 0px solid #46adcc;
    border-bottom : 0px solid #999999;

    background-color: #fff;

    } 
    
    TD.nav_closed:hover { 
    background-color: #eee;
    }

    TD.nav_otsikot { 
    height : 34px;
    background-color: #46adcc;  
    vertical-align : middle;
    line-height:34px;
    padding-left : 10px;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
        font-size : 12px;
        font-weight: 800;
        color: #fff;
    } 
    div.nav_otsikot { 
    height : 34px;
    background-color: #46adcc; 
    vertical-align : middle;
    line-height:34px;
    padding-left : 12px;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    font-size : 15px;
    font-weight: 800;
    color: #fff;
    } 